.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  padding-top: 1vw; /* 上边距 */
  padding-left: 4vw; /* 左边距 */
}
